{% load staticfiles %}
<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>From struggling to dreaming</title>
    <link rel="stylesheet" href="{% static 'css/bulma.css' %}">
    <link rel="stylesheet" href="{% static 'css/app.css' %}">
  </head>
  <body>
    <div class="main">
    {% include 'nav.html' %}
    {% block content %}
    {% endblock content %}
    </div>
    {% include 'footer.html' %}
    {% block body_scripts %}
    {% endblock %}
  </body>
</html>