<nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-menu container">
    <div class="navbar-start">
      <!-- navbar items -->
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        {% if request.user.is_authenticated %}
        <a href="{% url 'account_logout' %}" class="button">Logout</a>
        {% else %}
        <a href="{% url 'account_login' %}" class="button">Login</a>
        {% endif %}
      </div>
    </div>
  </div>
</nav>
