{% extends "base.html" %}
{% block content %}
    <div class="grid-container">
    <div class="callout primary">
        <div class="row column">
        <h1>Explore cases!</h1>
        <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus luctus urna sed urna ultricies ac tempor dui sagittis. In condimentum facilisis porta. Sed nec diam eu diam mattis viverra. Nulla fringilla.</p>
        </div>
    </div>
    <div class="grid-x grid-margin-x text-center">
    <div class="large-3 cell">
    </div>
    </div>
    </div>
{% endblock %}